* {
    box-sizing: border-box;
  }
  
.look {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

div.top-bar {
  height: 50px;
  background-color: #9FE6FD;
}
  
header.landing-page {
  background-color:#fff;
  top:0;
}

div.landing-page, main.landing-page {
  background-color: #9FE6FD;
  width:100%;
  height:100%;
}

section.landing-page {
  padding: 40px 0;
  background-color:#fff;
}

section:nth-child(odd).landing-page{
  background-color: #9FE6FD;
}

button.landing {
  font-size: 18px;
  font-family:'Fjalla One',sans-serif;
  outline:none;
  background: #9FE6FD;

  border-radius: 10px;
  border:none;
  width:110px;
  height:40px;
  margin: auto;
  margin-top:20px;
  border-radius: 10px;
}

@media all and (min-width: 1000px) {

  button.landing {
    font-size: 20px;

    width:110px;
    height:36px;
  }

}
  
