header.search {
  margin-top: 80px;
  padding: 45px 15px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

h1 {
  font-weight: 700;
  font-size: 22px;
}

.search-page {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  min-width: 320px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

input.search {
  width: 200px;
  margin-bottom: 10px;
  height:40px;
  font-size:24px;
  font-family:'Fjalla One',sans-serif;
  border-radius: 10px;;
}

.searchlabel {
  font-size:28px;
  margin-bottom: 20px;

}

button.search, button.showHide {
  font-size: 18px;
  font-family:'Fjalla One',sans-serif;
  outline:none;
  background:#9FE6FD;

  border-radius: 10px;
  border:none;
  width:105px;
  height:40px;
  margin: auto;
  margin-top:20px;
  margin-bottom:10px;
  border-radius: 10px;
}

button.showHide { 
  background:#FFF;
}

button.search {
  background-color: #9FE6FD;
}

form.wrapper {
  display: flex;
  flex-direction:column;
}

div.spacer {
  height:98px;
}

@media all and (min-width: 1000px) {

  input.search {
      width: 400px;
      height:28px;
  }

  .searchlabel {
    font-size:20px;
  }

  button.search, button.showHide {
    font-size: 20px;
    width:90px;
    height:36px;
  }
  
  h1 {
    font-weight: 700;
    font-size: 30px;
  }
      
}
