 
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    padding: 45px 15px;
  }
  
  h2 {
    font-weight: 700;
    font-size: 20px;
  }

  .search-page {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    min-width: 320px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  input.search {
    width: 200px;
    margin-bottom: 10px;
    height:40px;
    font-size:24px;
    font-family:'Fjalla One',sans-serif;
    border-radius: 10px;;
}

  .searchlabel {
    font-size:28px;
  }

  button.search, button.showHide {
    font-size: 24px;
    font-family:'Fjalla One',sans-serif;
    outline:none;
    /*background:#fec89a;*/
    background:grey;

    border-radius: 10px;
    border:none;
    width:105px;
    height:40px;
    margin: auto;
    margin-top:20px;
    border-radius: 10px;
  }
  

@media all and (min-width: 1000px) {

    input.search {
        width: 400px;
        height:28px;
    }

    .searchlabel {
      font-size:20px;
    }

    button.search, button.showHide {
      font-size: 20px;
      font-family:'Fjalla One',sans-serif;
      outline:none;
      /*background:#fec89a;*/
      background:tan;
  
      border-radius: 10px;
      border:none;
      width:80px;
      height:36px;
      margin: auto;
      margin-top:20px;
      margin-left:20px;
      border-radius: 10px;
    }
  
      
}
