  
  .hide {
    display: none;
  }
  
  .look {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    min-width: 320px;
  }
  
  p, h2 {
    margin: 23px 0;
  }
  
  .book-page {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    min-width: 320px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

