* {
    box-sizing: border-box;
  }
  
div.signup-page, div.login-page {
  background-color: #fff;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  position:relative;
}

footer {
  position:absolute;
  bottom:0;
  height: 50px;
  width:100%;
  background-color: #9FE6FD;
  z-index: 10;

}

.look {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

header {
  padding: 45px 15px;
}
  
.valerror {
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  border-radius: 10px;
  background-color: #FFD999;
  height: 28px;
}

div.success {
  border-radius: 10px;
  background-color:#99FF99;
}

div.linkdiv {
  height: 20px;
}

div.loginError {
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  border-radius: 10px;
  height: 20px;
  color:brown;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

.hide {
  display: none;
}


form.signup {
  /*max-width: 650px;*/
  width: 200px;
  margin:auto;
  background-color: #FFF;
}

label {
  display: block;
}

input.signup {
  margin:auto;
  margin-bottom: 10px;
  height:40px;
  width:200px;
  font-size:24px;
  font-family:'Fjalla One',sans-serif;
  border-radius: 10px;;
}

button.signup {
  font-size: 18px;
  font-family:'Fjalla One',sans-serif;
  outline:none;
  /*background:#fec89a;*/
  background:#9FE6FD;

  border-radius: 10px;
  border:none;
  width:105px;
  height:40px;
  margin: auto;
  margin-top:20px;
  border-radius: 10px;
}

.loadwidget {
  width: 50px;
  height: 50px;
  margin-top: 30px;
}
  



@media all and (min-width: 1000px) {

  .container {
    flex-direction: row;
  }

  input.signup {
    height:22px;
    font-size:20px;
    width:400px;
  }

  form.signup {
    width:400px;
  }

  button.signup {
    font-size: 20px;
    width:90px;
    height:36px;
  }


}
  